body {
  margin: 0;
}

@media screen and (max-width:600px){
  .none-xs{
    display: none;
  }
}


.text_decoration_none{
  text-decoration: none;
}

.center{
  text-align:center;
}

.marginTop100px{
  margin-top: 100px;
}

.marginTop20px{
  margin-top: 20px;
}

.bold{
  font-weight: bold;
}

.width200px{
  width: 200px;
}

.boderBottomGrey{
  border-bottom: 1px solid rgb(192, 192, 192);
}

.paddingLeft10px{
  padding-left: 10px;
}

.mainColor{
  color: rgb(15, 185, 207)
}

.pointer{
  cursor: pointer;
}